.prompt-field {
  position: fixed;
  bottom: 0;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  padding: 25px 15px 30px 15px;
  margin-bottom: 10px;
  box-shadow: black 0px 0px 0px 1px inset, #f0f0f0 -5px 4px 0px -1px, black -5px 4px;
}

.prompt-field-textarea {
  background-color: #f1efef;
  border: none;
  resize: none;
  overflow-y: hidden;
  border-radius: 15px;
  padding: 5px 11px 5px 11px;
  width: 100%;
}

.prompt-field-remaining-characters {
  font-size: 0.8em;
}

.prompt-field-button {
  display: inline-block;
  position: relative;
  border-radius: 15px;
  padding: 15px 20px 15px 20px;
  background-color: #fd766a; /* Change to your preferred background color */
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 80%;
  height: 35px;
  border: 1px solid black;
  align-items: center;
}

.prompt-field-button:hover {
  background-color: #d64d40;
}

/* media queries */

@media (max-width: 768px) {
  .prompt-field {
      width: 96%;
  }
}

@media (min-width: 992px) {
  .prompt-field {
      max-width: 70%;
  }
}

@media (min-width: 1200px) {
  .prompt-field {
      max-width: 700px;
  }
}
