.user-message-field {
  position: relative;
  background-color: #fd766a;
  border-radius: 25px;
  padding: 15px;
  margin: 20px;
  border: 1px solid black;
  color: white;
  word-break: normal;
  overflow-wrap: break-word;
  overflow-wrap: anywhere;
}

.user-message-field::after {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: #fd766a;
  bottom: -1px;
  right: -1px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
