header {
  background-color: white;
  width: 100%;
  height: 40px;
  box-shadow: 0 0 5px black;
}

.app-header-logout-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 0.8em;
  margin-top: 6px;
}

.app-header-logout-button:hover {
  background-color: #fd766a;
  color: white;
}

/* media queries */

@media (max-width: 768px) {
  header {
      height: 60px;
  }

  .header-container-limited-width {
    max-width: 100%;
  }

  .app-header-logout-button {
    margin-top: 15px;
    padding: 5px 10px 5px 10px;
  }
}

@media (min-width: 1200px) {
  .header-container-limited-width {
      max-width: 700px;
  }
}
