.conversation-link {
  display: inline-block;
  border-radius: 15px;
  box-shadow: black 0px 0px 0px 1px inset, #f0f0f0 -5px 4px 0px -1px, black -5px 4px;
  padding: 10px 10px 10px 20px;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  width: 100%;
  background-color: white;
  word-break: normal;
  overflow-wrap: anywhere;
}

.conversation-link:hover {
  background-color: #fd766a;
  color: white;
}

.conversation-link:active {
  box-shadow: black 0px 0px 0px 2px inset, #d64d40 -5px 4px 0px -2px, black -5px 4px;
}

.home-new-conversation-button {
  margin: 30px 0 20px 0;
}

/* media queries */

@media (max-width: 768px) {
  .conversation-link {
    margin-top: 20px;
    padding: 20px 20px 20px 30px;
  }
}
